.navigation {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #899F87;
    color: #fff;
}


.logo {
    width: 50px; 
    height: auto; 
}


.nav-links {
    list-style: none; 
    display: flex;
}

.nav-links li {
    margin-right: 20px; 
}

.nav-links a {
    color: #fff; 
    text-decoration: none; 
}

.nav-links a:hover {
    text-decoration: underline; 
}


.user-actions a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

.user-actions a:hover {
    text-decoration: underline;
}

.menu-label {
    color: #fff; 
    padding-left: 0; 
    text-decoration: none;
}

.menu-label:hover {
    text-decoration: underline;
}


.menu-icon {
    width: 30px; 
    height: auto; 
    cursor: pointer; 
    vertical-align: middle; 
}
