.banner {
    background-color: #899F87;
    padding: 20px;
    text-align: center;
    display: block;
    gap: 50px;
}

.banner-text {
    margin-right: 20px; 
    color: white;
}

.banner-line br {
    display: block;
    content: "";
    margin-top: 0.5em;
}

.banner-line {
    
    font-size: 50px;
    width: 100%;
}

.signup-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

.signup-button:hover {
    background-color: #556253;
    color: white;
}
