
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #899F87;
    width: 50%;
  }
  
  .close {
    color: #899F87;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #556253;
    text-decoration: none;
    cursor: pointer;
  }

  .closi {
    color: #899F87;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closi:hover,
  .closi:focus {
    color: #556253;
    text-decoration: none;
    cursor: pointer;
  }

button {
    background-color: white;
    color: black;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 10px;
}
  
button:hover {
    background-color: #556253;
    color: white;
}
